
<div class="form-panel">
  <h1>URL Shortener</h1>

  <% if flash[:code] %>
    <p> Your URL Shorten  <%= link_to flash[:code], check_url_link_path(flash[:uuid]) %></p>
  <% end %>

  <%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-panel">
     <div class="field">
      <%= f.url_field :given_url, class: 'input-field', placeholder: 'Enter your URL' %>
    </div>
    <div class="actions">
      <%= f.submit "Shorten", class: 'button' %>
    </div>
  </div>
   
  <% end %>
</div>

